
html {
	height: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}


@keyframes fadeBorder {
  0% {
  	border: 1.2em solid rgba(255, 255, 255, 0)
  }
  20% {
  	border: 1.2em solid rgba(49, 53, 61, 0)
  }
  100% {
  	border: 1.2em solid $light-main;
  }
}

@keyframes fadeText {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.main-container {
	background-color: $dark-main;
	border: 1.2em solid $light-main;

	animation-duration: 1.5s;
  animation-name: fadeBorder;

  box-sizing: border-box;

	position: relative;
	width: 100%;
	min-height: 100%;

	.wrapper {
		width: 700px;
		padding: 100px 0;
		margin: 0 auto;

		animation-duration: 3s;
		animation-name: fadeText;

		opacity: 1;

		@media screen and (max-width: $xl-screen) {
			width: 75%;
		}

		header {
			margin-top: 199px;

			@media screen and (max-width: $md-screen) {
				margin-top: 50px;
			}
		}

		.text-content {
			margin-top: 99px;
			max-width: 700px;

			@media screen and (max-width: $xl-screen) {
				width: 100%;
			}
		}
	}
}

.section-divider {
	margin: 4em 0;
	width: 100%;
}

.project {
	margin: 4em 0;

	img {
		@include box-shadow(0px, 0px, 20px, rgba(19, 23, 31, .8));
		// border-radius: 4px;
	}
}